html {
  font-family: TransatStandard, verdana;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url("../images/dark-background.png");
  margin: 0 auto;
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: #999;
}
  a:hover {
    color: #555;
  }

h1 {
  font-family: Nori;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 64px;
  color: #666;
  margin: 12px 3px;
  padding-left: 2px;
  line-height: 2.4;
}

h2 {
  font-family: TransatBold;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 8px;
}

h3 {
  font-family: TransatBold;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 0;
}

h4 {
  font-family: TransatBold;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  margin: 24px 0 18px 0;
  color: #606060;
}

header {
  font-family: TransatLight;
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f0f0f0;
  padding-top: 2px;
}

  header .center {
    width: 980px;
    margin: 0 auto;
  }

  header .title-name {
    float: right;
    font-size: 52px;
  }

  header ul {
    padding: 0;
    margin: 0;
    padding-top: 12px;
  }

    header ul li {
      list-style-type: none;
      display: inline;
      margin-right: 10px;
    }

    header ul li a {
      color: #f0f0f0;
    }
      header ul li a:hover {
        color: #ccc;
      }

p {
  margin: 18px 0;
}

.main {
  background-image: url("../images/body-background.jpg");
  box-shadow: 0px 0px 8px 5px rgba(33, 33, 33, .33);
  -webkit-box-shadow: 0px 0px 8px 5px rgba(33, 33, 33, .33);
}

.fixed-title {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 10;
  overflow: visible;
}

.content {
  width: 980px;
  margin: 0 auto;
  padding: 5px 0 40px 0;
  min-height: 500px;
  margin-top: 12px;
  position: relative;
  top: 0px;
  left: 0px;
}

.content .article {
  background-color: white;
  border: 1px solid #f0f0f0;
  margin-top: 105px;
  padding: 45px 50px 25px 50px;
  color: #555;
  z-index: 0;
}

.content .archive {
  margin-top: 115px;
  padding: 40px 5px;
  color: #555;
  z-index: 0;
}

  .archive .year {
    font-family: TransatStandard;
    font-weight: normal;
    font-style: normal;
    color: #999;
    font-size: 24px;
    margin-bottom: 7px;
  }

  .archive ul {
    background: url("../images/grey-bar.png") repeat-y;
    margin: 0 0 0 25px;
    padding: 0 0 6px;
    margin-bottom: 10px;
  }

  .archive ul li {
    background: url("../images/triangle.png") no-repeat;
    background-position: 0px 10px;
    list-style-type: none;
    padding: 4px 25px;
    margin-left: 4px;
  }

  .archive ul li .date {
    display: inline-block;
    width: 150px;
    color: #999;
    font-size: 18px;
  }

  .archive ul li a {
    font-family: TransatBold;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #666;
  }

    .archive ul li a:hover {
      color: #999;
    }

.article-links {
  margin-bottom: 25px;
}

.article-links a {
  float: right;
  margin-left: 18px;
  font-size: 18px;
  color: #555;
}

  .article-links a:hover {
    color: #777;
  }


.content-buttons a {
  display: inline-block;
  padding: 2px 12px;
  background-color: white;
  border: 1px solid #f0f0f0;
  color: #555;
  font-size: 24px;
}

  .content-buttons a:hover {
    color: #777;
  }

.date-sub {
  font-size: 18px;
  color: #999;
}

.article-body {
  font-size: 18px;
}

.footer {
  font-size: 18px;
  color: #f0f0f0;
  width: 980px;
  margin: 0 auto;
  padding: 40px 0 20px;
}

  .footer a {
    color: #bbb;
  }

    .footer a:hover {
      color: #f0f0f0;
    }

.about {
  margin: 20px 0px 60px 0px;
}

.contact-element {
  float: left;
  width: 490px;
}

  .contact-element ul {
    padding: 0;
    margin: 0;
  }

  .contact-element ul li {
    list-style-type: none;
  }

  .contact-element h2 a {
    color: #f0f0f0;
  }

    .contact-element h2 a:hover {
      color: #aaa;
    }

#tweets {
  color: #aaa;
}

  #tweets ul li {
    margin-bottom: 15px;
  }

.tweet {
  font-size: 18px;
  width: 300px;
  color: #f0f0f0;
}

.tweet-time {
  font-size: 16px;
  color: #aaa;
}

.footer-bottom {
  margin-top: 80px;
  color: #aaa;
}

.footer-bottom .back-link {
  float: right;
  color: #999;
}


.twitter-follow {
  margin-top: 20px;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.no-top-margin {
  margin-top: 0;
}

.cf:before, .cf:after {
  content: "";
  display: block;
  overflow: hidden; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

#disqus_thread {
  margin: 60px 4px;
}

@media screen and (max-width: 1020px) {
  header .center {
    width: auto;
    margin: 0 20px;
  }

  header ul {
    padding: 12px 0;
  }

  .content {
    width: auto;
    margin: 0;
  }

  .article-links {
    margin: 0 20px 25px 20px;
  }

  .content-buttons {
    margin: 0 20px;
  }

  .footer {
    width: auto;
    margin: 5px 20px;
  }

  .contact-element {
    float: none;
    width: auto;
    margin: 20px 0;
  }

  .tweet {
    width: auto;
  }

  #disqus_thread {
    margin: 60px 20px;
  }
}
