---
---
{% assign post = site.posts.first %}
{% assign content = post.content %}

{% include header.html %}
    <section>
      <div class='main'>
        <div class='content'>
          <div class='fixed-title svg'>
            <h1 class='transparent'>the gradual steep</h1>
          </div>
          <article>
            <div class='article'>
              <h3>{{ post.title }}</h3>
              <div class='date-sub'>{{ post.date | date: "%Y.%m.%d" }}</div>
              <div class='article-body'>
                {{ content }}
              </div>
            </div>
          </article>
          <div class='article-links cf'>
            <a class='rss' href='{{ "/feed" | relative_url }}'>RSS</a>
            <a href='{{ post.url | relative_url }}'>permalink</a>
          </div>
          <div class='content-buttons cf'>
          {% if post.previous %}
            <a class='fr' href='{{ post.previous.url | relative_url }}'>previous post</a>
          {% endif %}
            <a class='fl' href='{{ "/archive" | relative_url }}'>more posts</a>
          </div>
        </div>
      </div>
    </section>
{% include footer.html %}
