    <section id='about' class='scroll-target'>
      <div class='footer'>
        <article>
          <div class='about'>
            <h2>about</h2>
            <p class='no-top-margin'>My name is Andrew Bender, and I am a Milwaukee entrepreneur and software developer with a penchant for overcommitting and pulling all-nighters. Research is still pending on whether those two are related. Currently I’m working on <a href='http://simplecampushousing.com' target='_blank'>SimpleCampusHousing,</a> building software to simplify housing assignments at colleges and universities. When not starting businesses, I enjoy photography, ballroom dancing, brewing beer, and drinking tea, among other things. Actually, I enjoy that last one while starting businesses as well.</p>

            <p>Feel free to drop me a line with comments about this blog, general insights about life, or news on Firefly being renewed.</p>
          </div>
        </article>
        <div class='contact cf'>
          <div class='contact-element'>
            <h2><a href='http://twitter.com/adamanthil' target='_blank'>twitter</a></h2>
            <div id='tweets'>Loading...</div>
            <div class='twitter-follow'>
              <a href="https://twitter.com/adamanthil" class="twitter-follow-button" data-show-count="false">Follow @adamanthil</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
          </div>
          <div class='contact-element'>
            <h2>contact</h2>
            <ul>
              <li><a href='mailto:andrew@bender.io' target='_blank'>andrew@bender.io</a></li>
              <li><a href='http://twitter.com/adamanthil' target='_blank'>@adamanthil</a></li>
              <li><a href='http://www.linkedin.com/pub/andrew-bender/20/248/a1' target='_blank'>LinkedIn</a></li>
            </ul>
          </div>
        </div>
        <div class='footer-bottom'>
          <a class='back-link' href='#top'>back to top</a>
          <div class='copyright'>&copy; <script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>. andrew william bender</div>
        </div>
      </div>
    </section>
  </body>
</html>
