<!DOCTYPE html>
  <head>
    <meta charset='utf-8' />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <meta name="google-site-verification" content="iGXv_f21bV3xObpisoG_V1CC04wfnjc_XuuCssAUOYA" />
    {% if page.title %}
        <title>{{ page.title }} | The Gradual Steep | Andrew Bender</title>
    {% else %}
        <title>The Gradual Steep | Andrew Bender</title>
    {% endif %}
    {% if page.excerpt %}
        <meta name="description" content="{{ page.excerpt | strip_html }}">
    {% else %}
        <meta name="description" content="The technology blog of Andrew Bender">
    {% endif %}
    <meta name="keywords" content="andrew bender,technology,blog,entrepreneur,software,development,tea,gradual steep">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://bender.io">
    {% if page.title %}
      <meta property="og:title" content="{{ page.title }} | The Gradual Steep | Andrew Bender">
    {% else %}
      <meta property="og:title" content="The Gradual Steep | Andrew Bender">
    {% endif %}
    {% if page.image %}
      <meta content="{{ page.image }}" property="og:image">
    {% endif %}
    <meta property="og:site_name" content="The Gradual Steep | Andrew Bender">
    <meta property="og:description" content="The technology blog of Andrew Bender">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/reset.css" />
    <!--
    /* @license
     * MyFonts Webfont Build ID 2634734, 2013-09-02T02:43:08-0400
     *
     * The fonts listed in this notice are subject to the End User License
     * Agreement(s) entered into by the website owner. All other parties are
     * explicitly restricted from using the Licensed Webfonts(s).
     *
     * You may obtain a valid license at the URLs below.
     *
     * Webfont: Nori by Positype
     * URL: http://www.myfonts.com/fonts/positype/nori/nori/
     * Copyright: Copyright (c) 2010 by Neil Summerour :: Positype. All rights reserved.
     *
     * Webfont: Transat Bold by Typetanic Fonts
     * URL: http://www.myfonts.com/fonts/typetanic-fonts/transat/bold/
     * Copyright: Copyright (c) 2011-2013 by Greg Shutters & Typetanic Fonts. All rights
     * reserved.
     *
     * Webfont: Transat Light by Typetanic Fonts
     * URL: http://www.myfonts.com/fonts/typetanic-fonts/transat/light/
     * Copyright: Copyright (c) 2011-2013 by Greg Shutters & Typetanic Fonts. All rights
     * reserved.
     *
     * Webfont: Transat Standard Oblique by Typetanic Fonts
     * URL: http://www.myfonts.com/fonts/typetanic-fonts/transat/standard-oblique/
     * Copyright: Copyright (c) 2011-2013 by Greg Shutters & Typetanic Fonts. All rights
     * reserved.
     *
     * Webfont: Transat Standard by Typetanic Fonts
     * URL: http://www.myfonts.com/fonts/typetanic-fonts/transat/standard/
     * Copyright: Copyright (c) 2011-2013 by Greg Shutters & Typetanic Fonts. All rights
     * reserved.
     *
     *
     * License: http://www.myfonts.com/viewlicense?type=web&buildid=2634734
     * Licensed pageviews: 20,000
     *
     * © 2013 MyFonts Inc
    */
    -->
    <link rel="stylesheet" type="text/css" href="/css/MyFontsWebfontsKit.css">
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/imgpopup.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery.localScroll.min.js"></script>
    <script src="/scripts/jquery.scrollTo.min.js"></script>
    <script src="/scripts/site.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28473214-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body id='top' class='scroll-target'>
    <header>
      <div class='center'>
        <div class='title-name'>andrew bender</div>
        <nav>
          <ul>
            <li><a href='/'>home</a></li>
            <li><a href='#about'>about</a></li>
            <li><a href='/archive'>archive</a></li>
          </ul>
        </nav>
      </div>
    </header>
