{% include header.html %}
    <section>
      <div class='main'>
        <div class='content'>
          <div class='fixed-title svg'>
            <h1 class='transparent'>the gradual steep</h1>
          </div>
          <article>
            <div class='article'>
              <h3>{{ page.title }}</h3>
              <div class='date-sub'>{{ page.date | date: "%Y.%m.%d" }}</div>
              <div class='article-body'>
                {{ content }}
              </div>
            </div>
          </article>
          <div class='article-links cf'>
            <a class='rss' href='{{ "/feed" | relative_url }}'>RSS</a>
            <a href='{{ page.url | relative_url }}'>permalink</a>
          </div>
          <div class='content-buttons cf'>
          {% if page.previous %}
            <a class='fr' href='{{ page.previous.url | relative_url }}'>previous post</a>
          {% endif %}
          {% if page.next %}
            <a class='fl' href='{{ page.next.url | relative_url }}'>next post</a>
          {% else %}
            <a class='fl' href='{{ "/archive" | relative_url }}'>more posts</a>
          {% endif %}
          </div>
          {% include comments.html %}
        </div>
      </div>
    </section>
{% include footer.html %}
