{% include header.html %}
    <section>
      <div class='main'>
        <div class='content'>
          <div class='fixed-title svg'>
            <h1 class='transparent'>the gradual steep</h1>
          </div>
          <article>
            <div class='article'>
              <h3>{{ page.title }}</h3>
              <div class='date-sub'>{{ page.date | date: "%Y.%m.%d" }}</div>
              <div class='article-body'>
                {{ content }}
              </div>
            </div>
          </article>
          <div class='article-links cf'>
            <a href='{{ page.url }}'>permalink</a>
          </div>
          <div class='content-buttons cf'>
          {% if page.previous %}
            <a class='fr' href='{{page.previous.url}}'>previous post</a>
          {% endif %}
          {% if page.next %}
            <a class='fl' href='{{page.next.url}}'>next post</a>
          {% else %}
            <a class='fl' href='/archive'>more posts</a>
          {% endif %}
          </div>
          <section>
            <div class='comments'>
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                  var disqus_shortname = 'thegradualsteep';
                  var disqus_identifier = '{{ page.url }}';
                  var disqus_title = '{{ page.title }}';

                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
          </section>
        </div>
      </div>
    </section>
{% include footer.html %}
