{% include header.html %}
    <section>
      <div class='main'>
        <div class='content'>
          <h1 class='fixed-title'>the gradual steep</h1>
          <article>
            <div class='article'>
              <h3>{{ page.title }}</h3>
              <div class='date-sub'>{{ page.date | date: "%Y.%m.%d" }}</div>
              <div class='article-body'>
                {{ content }}
              </div>
            </div>
          </article>
          <div class='article-links cf'>
            <a href='#'>Comments (this is the direct post page)</a>
            <a href='{{ page.url }}'>permalink</a>
          </div>
          <div class='content-buttons cf'>
          {% if page.previous %}
            <a class='fr' href='{{page.previous.url}}'>previous post</a>
          {% endif %}
            <a class='fl' href='/archive'>more posts</a>
          </div>
        </div>
      </div>
    </section>
{% include footer.html %}
